
/*Globales*/

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html{font-size: 62.5%;}

:root{
	--color-white:  #FFFFFF;
	--color-gray50: #F9FAFB;
	--color-gray200: #EAECF0;
	--color-gray700: #344054;
	--color-gray500: #667085;
	--color-gray800: #1D2939;
	--color-primary50: #F9F5FF;
	--color-primary600: #7F56D9;
	--color-primary700:#6941C6;
	
}



.button{
	display: flex;
	font-size: 1.4rem;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px; 
	padding: 10px 16px; 
	background-color: var(--color-white);
	border: 1px solid #D0D5DD;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	justify-content: space-between;
	align-items: center;
	padding: 10px 16px;
}

.container{max-width: 1440px; margin: 0 auto;}





/*HEADER*/

.superheader{
	max-Width: 1280px;
	height: 73px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0px 32px;
	align-items: center;
}

.superheader__navegation{ 
	Width: 681px;
	Height: 40px;
	display: flex; 
	justify-content: space-between;
	align-items: center;
}

.superheader__navegation__logo{
	width: 142px;
	height: 32px; 
	display: flex; 
	justify-content: space-between;
	align-items: center;
}
.nav{ 
	display: flex;
	justify-content:space-around;
	align-items: center;
	width: 523px;
	height: 40px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 24px;
}
.nav__item{
	text-decoration: none;
	color: var(--color-gray700);
}

.nav__item__Dashboard{ 
	background: #F9F5FF;
	border-radius: 6px; 
	padding: 8px 12px; 
	text-decoration: none; 
	color: var(--color-primary700);}


.buttonSuperHeader{width: 150px; color: var(--color-gray700);} /**/

.menuoptions{
	display: flex; 
	justify-content: space-between; 
	align-items: center;
	width:306px ;
	
}

.menu{display: none;}

.divider{border:1px solid #EAECF0;} /*LINEA DIVISORA  ENTRE HEADER Y EL RESTO DE CONTENIDO*/

/*♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀*/


/*MAIN*/

/*MAIN__SECCTION PROGRESSACCOUNT*/

.progressAccount{
	max-width: 1280px;
	height: 130px;
	margin: 0 auto;
	margin-block-start: 48px;
	padding: 0 16px;

	
}

.pageheader{
	max-width: 1216px;
	height: 66px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.welcometitle{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 3rem;
	line-height: 38px;
	color: var(--color-gray900);
	min-width:343px;
	height: 38px;
	justify-content: space-around;
}

.welcometitle--subtitle{
	color: var(--color-gray500);
	font-size: 1.6rem;
	font-weight: normal;
}


.actionsbutton{display: flex; justify-content: space-between; width: 240px;}

.buttonDesposit{
	width: 112px;
	height: 40px; 
	color: var(--color-gray700);
}

.buttonsend{
	width: 112px; 
	height: 40px;
	background-color: var(--color-primary600);
	color: var(--color-white);
}


.tabscontrol{

	max-width: 1216px;
	height: 40px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-block-start: 24px;
}

.tabs{
	list-style-type: none; 
	display: flex; 
	width: 357px; 
	height: 40px;
	align-items: center;
	background-color: var(--color-gray50);
	border: 1px solid #D0D5DD;
	box-sizing: border-box;
	border-radius: 8px 8px;
	filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}

.tabs__item{
border-inline-end: 1px solid #D0D5DD; 
padding: 10px 16px;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 1.3rem;
color: var(--color-gray800);

}

.tabs__item:last-child{border-inline-end:none;}


.buttoncontrols{
	display: flex; justify-content: space-between; width: 258px;
}

.buttonSelectedDate{width: 144px; height: 40px;}


.buttonFilters{width: 102px; height: 40px;}

/*♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀♀*/
/*MAIN SECCION cardAccount*/

.cardAccount{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
padding: 0px 32px;
padding: 24px;
max-width: 1280px;
margin: 0px auto ;


}

.accountCard{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width:596px;
	min-height: 168px;
	padding: 24px;
	background: var(--color-white);
	border: 1px solid var(--color-gray200);
	box-sizing: border-box;
	box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
	border-radius: 8px;
}


.progressCircle{width: 120px; height: 120px;  margin:2px;
background-image: url(../image/PIER.png); }

.informationCurrentBalance{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 404px; 
	height: 114px;  
	padding: 0 24px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 24px;
	color: var(--color-gray900);
}

.informationCurrentBalance--item1{width: 360px;
height: 24px; 
display: flex; 
justify-content: space-between;
}

.informationCurrentBalance--item2{width: 360px;
	height: 20px; color: var(--color-gray500);
	display: flex; 
	justify-content: space-between;
}

.informationCurrentBalance--item2 img{display: none}

.informationCurrentBalance--item3{
font-weight: 600;
font-size: 30px;
width: 380px;
height: 38px;
display: flex; 
justify-content: space-between;
align-items: center;
}

.badge{background: #ECFDF3;
text-align: center;
border-radius: 16px;
color: #027A48;
font-weight: 500;
font-size: 1.4rem;
height: 24px;
width: 68px;
padding: 2px, 8px, 2px, 10px;}


/*seccion de */


.accountSummary{

display: flex;
flex-direction: column;
align-items: flex-start;
max-width: 792px;
height: 725px;
flex-grow: 1;
margin: 0px auto;
padding: 0 20px;

}

.global { display: flex; justify-content:space-between; margin: 0 auto; flex-wrap: wrap;
max-width: 1216px;}

.designcard{
background: var(--color-white);
border: 1px solid var(--color-gray200);
box-sizing: border-box;
box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
border-radius: 8px;
}

.statisticalBalance{
max-width: 792px;
height: 297px;
margin: 24px 0px;
align-items: center;
}

.barrastatistical{
max-width: 708px;
height: 28px;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 1.8rem;
line-height: 28px;
color: #101828;
display: flex;
justify-content: space-between;
padding-inline-start: 10x;

}

.yourCards{
max-width: 792px;
height: 404px;
}

.recentDeposits{
	width: 410px;
	height: 717px;
	margin: 30px auto;
	padding:20px; 
	border-block-end:1px solid var(--color-gray200);

}

.containercard{ width: 352px; height: 584px; 
}

.listcard{ 
	display: flex; 
	justify-content: space-around;
	align-items: center;
	border-block-end:1px solid var(--color-gray200);
	height: 60px;
}

.listcard span:first-child{font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 1.4rem;
line-height: 20px;
color: #101828;}

.listcard span:last-child{font-weight: normal; font-size: 1.4rem;
color: #667085;}

.listcard span:nth-child(){color: #039855;}/*TRATE DE USA EL NTH-CHILD PARA UNICAMENTE CAMBIARLE EL COLOR
AL TERCER SPAN QUE ESTOY UTILIZANDO*/

.buttonShowMore{font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 1.8rem;
line-height: 20px;
color: #6941C6;}


/*MEDIA QUERYS*/

@media(max-Width:800px)
{
	.menuoptions{display: none;}
	.nav{display: none}
 	.menu{display:block;}
 		
 		.accountCard{margin-block: 20px;}
 		.informationCurrentBalance{ padding-inline-start: 24px;}
 		.informationCurrentBalance--item1{display: none;}
 		.informationCurrentBalance--item2{ max-width: 180px;}
 		.informationCurrentBalance--item2 img{display: block;}
 		.informationCurrentBalance--item3 {width: 180px; display: flex; justify-content: space-between;}

}



@media(max-Width:589px) 
{
   

	.nav{display: none}
 	.menu{display:block;}

 	.progressAccount{min-width: 375px; min-height: 236px; padding: 0 16px;}

 	.pageheader{min-width:343px; min-height: 116px; display: flex; flex-direction: column;}

 	.buttoncontrols{margin-block-start: 16px;}

 	.welcometitle--subtitle{letter-spacing: 0.2rem;}

 		.cardAccount{ width: 343px;}
 		.accountCard{margin-block: 20px; width: 343px;}

 		.informationCurrentBalance{ padding: 0px;}

 


}