*{margin: 0;
padding: 0;
box-sizing: border-box;
}

html{ font-size:62.5%;}

.container{

			max-width: 1440px;
			height: 88vh;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 40px auto;
			
			
		}


.container-sidebar-gallery{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1286px;
	border-radius: 20px;
	box-shadow: -5px 10px 115px rgba(0, 0, 0, 0.45);

}



.sidebar{

	display: flex;
	flex-direction: column;
	align-items:flex-start;
	padding: 30px 0px 10px 50px;
	margin-inline-end:50px;
	max-width: 350px;
	max-height:600px;
	justify-content: space-between;
	position: relative;
}

.sidebar h4{
	font-size: 2.4rem;
	columns: #000000;
}

.sidebar p{
	margin-block: 20px;
	line-height: 30px;
	font-size: 2rem;
	color: #c3c3c3;
}

.sidebar ul li{
	list-style: none;
	font-size: 2rem;
	margin-block-end: 15px;
	color: #c3c3c3;
}

.sidebar ul li:first-child{
	color:#5f0f82;
	font-weight: 900;
}

.sidebar img {
	width: 60px;
	height: 60px ;
	border-radius:50%;
}

.circle{
	width: 20px;
	height: 20px;
	background-color: #4D0976;
	position:absolute;
	inset-inline-start:-10px ;
	inset-block-end: 228px;
	border-radius: 50%;
 }




.containerglobal-IMG{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width:800px;
	border-bottom-right-radius: 20px;


}

.contentimagenBig{
 
 	background-image: url("imagen1.jpg");
	background-size: cover;
	background-position: center center;
	object-fit: contain;
	width: 100%;
	height: 100%;
	margin-block-end: 10px;
	border-top-right-radius: 20px;
}

.content-imagenSmall{display: flex; 
	max-width: 1000px; 
	overflow-x: scroll;
	 overflow-y: hidden; 
	 cursor:pointer; }


.content-imagenSmall::-webkit-scrollbar{ background-color:grey;height:8px; 	border-radius: 6px;  }

.content-imagenSmall::-webkit-scrollbar-thumb{ 

	background-color:#4D0976;
	border-radius: 6px;
	width:20px;
	 }


.content-imagenSmall img{
	margin-block-end:50px;
	margin-inline-end:8px;
	width: 80px;
	height: 80px;
	border-radius: 6px;

}

@media(max-width:1174px){

	.sidebar{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
		max-width: 800px;

	}

   .container-sidebar-gallery{
   	display: flex;
   	justify-content: center;
   	flex-wrap: wrap;
   	width: 100vh;
   	height: 100vh;}

}