*,:after,:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--color-ofert: hsl(340deg 66% 47%);
	--color-blue: hsl(240deg 60% 63%);
}
body{
	font-family: "Raleway";
}
.container{
	width: 90%;
	margin-inline: auto;
}
.hero{
	width: 100%;
	background-color: #313235;
}
.hero__navegation{
	display: flex;
	max-width: 1440px;
	margin-inline: auto;
	height: 40px;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

.icon-nav{
	width: 280px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icon-nav .icon__nav-search{
	align-self: end;
}

.icon__nav-help, .fa-search{
	text-decoration: none;
	color: #C9CECF;
}
.icon__nav-search{
	border: none;
	/*outline: 2px solid #fd4;*/
	align-self: flex-end;
	color: transparent;
	border-block-style: solid;
	border-width: 2px;
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	padding-block-end: 4px;
	border-block-end-color: #C9CECF;
}
.icon__nav-input{
	font-size: .8rem;
	outline: none;
	border: none;
	margin-inline-start: 5px;
	color: #fff;
	background-color: transparent;
}
::placeholder{
	font-size: .9rem;
	font-weight: bold;
}
.category{
	width: 100%;
	max-width: 1440px;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: start;
	border-width: 1px;
	border-bottom-style: solid;
	border-block-end-color: #C9CECF;
}
.category__link{
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.category__title{
	font-weight: 800;
}
.navegation__link{
	display: flex;
	column-gap: 26px;
}
.category__navegation-tems{
	display: none;
}
.list-link{
	list-style: none;
}
.list-link:hover .category__enlace, .menu__list-item:hover .menu__list-enlace{
	color: var(--color-blue);
}
.list-link > .category__enlace {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	color: #313235;
}
.category__enlace.active, .menu__list-enlace.active{
	color: var(--color-blue);
}

.main{
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	padding-block-start: 72px;
}
.content__product{
	width: 1000px;
	display: flex;
	flex-direction: column;
}
.content__text{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 90px;
	padding-block-end: 42px;

}
.test{
	display: flex;
	flex-direction: column;
	row-gap: 26px;
}
.test__list{
	height: 50px;
}
.test__list a{
	line-height: 50px;
}
.test__items{
	text-decoration: none;
	color: #60666C;
}
.test__items + span{
	user-select: none;
	margin-inline: 4px;
}
.content__title{
	font-size: 24px;
	text-transform: capitalize;
	font-weight: 600;
}
.product{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 90px;

}
.product__main{
	position: relative;
	width: 320px;
	height: 312px;
}
.product__main .product__current{
	position: absolute;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 700;
	inset-block-start: 18px;
	inset-inline-end: -4px;
	padding: 6px;
	border-radius: 2px;
	color: #fff;
}
.Released{
	background-color: var(--color-blue);
}
.sale{
	background-color: var(--color-ofert);
}
.product__main img{
	width: 100%;
	height: 100%;
}
.product__main .product_title{
	display: flex;
	justify-content: space-between;
}
.product__description h4, .product__precio .price{
	margin-block-end: 8px;
}
.product__precio{
	display: flex;
	flex-direction: column;
}
.product__ofert{
	font-weight: 600;
	color: var(--color-ofert);
}
.product__main:nth-child(2) .price{
	text-decoration: line-through;
}
.product__main:nth-child(5) .price{
	text-decoration: line-through;
}
.product__main:last-child .price{
	text-decoration: line-through;
}
.list__marker{
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.list__marker li{
	list-style: none;
}
.list__marker li:hover .list__marker-enlaces{
	color: var(--color-blue);
}
.list__marker .list__marker-enlaces{
	text-decoration: none;
	font-weight: 600;
	transition: color .2s ease-in;
	color: #000;
}
.list__marker-enlaces.visit{
	color: var(--color-ofert);
}
.content__filter{
	border-radius: 8px;
	margin-inline-start: 8px;
	border-radius: 8px;
	background-color: #F2F3F3;
}
.filter span{
	font-weight: 500;
}
.content__filter-item{
	display: block;
	width: 190px;
	height: 46px;
	cursor: pointer;
	border-inline-end-width: 19px;
	border-inline-start-width: 16px;
	border-color: #F2F3F3;
	border-radius: 8px;
	/*appearance: none;*/
	position: relative;
	background-color: transparent;
}

.content__filter-item:focus{
	outline: none;
}

.filter{
	display: flex;
	align-items: center;
}

/*====sidebar===*/
.menu{
	position: fixed;
	display: flex;
	inset-inline-start: 0;
	inset-block-start: 0;
	width: 376px;
	height: 100vh;
	/*display: none;*/
	transition: transform .5s ease-in;
	transform: translateX(-376px);
	background-color: #171717;
}
.menu__close{
	width: 40px;
	height: 40px;
	margin-inline-end: 0;
}
.boton__close{
	display: inline-block;
	width: 24px;
	height: 2px;
	border-radius: 2px;
	cursor: pointer;
	background-color: transparent;
}
.boton__close::before, .boton__close::after{
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: #000;
}
.boton__close::before{
	transform: translate(8px, 10px) rotate(40deg);

}
.boton__close::after{
	transform: translate(8px, 10px) rotate(-40deg);
}
.menu{
	background-color: transparent;
}
.menu__image{
	width: 300px; 
	height: 100%;
	background-color: hsl(0deg 0% 0% / 0.45);

}

.menu__content{
	display: flex;
	position: absolute;
	width: 300px;
	height: 100%;
	inset-inline-end: 0;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
}
.menu__list-item{
	list-style: none;
	margin-block-end: 22px;
}
.menu__list-item > .menu__list-enlace, .contact__list{
	text-decoration: none;
	color: #313235;
}
.menu__list-enlace{
	text-transform: uppercase;
	font-weight: 600;
}
.menu__list-enlace.active{
	color: var(--color-blue);
}
.contact{
	padding-block-end: 32px;
}
.contact .contact__list{
	display: block;
	font-size: 14px;
	margin-block-end: 14px;
	text-decoration: none;
}

.contact__polity:hover .contact__list{
	color: var(--color-blue);
}
/*=========responsive===========*/
@media (max-width: 1305px){

	.test{
		width: 300px;
	}
	.content__product {
		width: 750px;
	}
}
@media (max-width: 1020px){
	.main{
		grid-column: 15px;
	}
	.test{
		width: 180px;
	}
	.product{
		grid-gap: 90px 35px;
	}
	.content__product {
		width: 680px;
	}
}
@media (max-width: 968px){
	.main{
		column-gap: 20px;
	}
	.product{
		column-gap: 15px;
	}
	.content__product{
		width: 590px;
	}
	.product__main{
		width: 280px;
	    /*flex-grow: 1;*/
	    height: auto;
	}
	.list__marker{
		row-gap: 24px;
	}
}
@media (max-width: 880px){
	.list-link > .category__enlace {
		font-size: 16px;
	}
	.content__product{
		width: 510px;
	}
	.product__main{
		width: 236px;
		flex-grow: 1;
	}
	.navegation__link{
		column-gap: 16px;
	}
}
@media (max-width: 768px){
	.navegation__link,.list__marker,.hero__navegation{
		display: none;
	}
	.main{
		flex-wrap: wrap;
	}
	.content__product{
		width: 100%;
	}
	.product__main{
		flex-grow: 1;
	}
	.product{
		grid-gap: 90px 6px;
	}
	.nav-paragraph{
		display: none;
	}
	.icon-nav{
		display: flex;
		width: fit-content;
	    column-gap: 40px;
	}
	.icon__search{
		padding-block-end: 0;
		border: none;
		font-size: 0;
	}
	
	.icon__nav-input,.icon__nav-help{
		color: #000;
	}
	.category, .menu__content{
		border-block-start: 4px solid #313235;
	}
	.menu:target{
		/*cursor: pointer;*/
		display: flex;
		transform: translateX(0);

	}
	.boton__close:target{
		transform: translateX(130px);
	}
}

@media (max-width: 700px){

	.hero__navegation{
		height: auto;
	}
	.hero__navegation {
		flex-direction: column;
	}
	.product__main{

	}
}
@media (max-width: 400px){
	.content__text{
		height: auto;
	}
	.content__filter-item{
		width: 154px;
	}
	.category__title{
		font-size: 24px;
	}
	.menu{
		width: 90%;
		width: 270px;
	}
	.menu__content{
		width: 230px;
	}
	.menu__image{
		width: 54px;
	}
	.menu__close{
		width: 40px;
		height: 40px;
		margin-inline-end: 0;
	}
}
@media (max-width: 375px){
	.category__title{
		font-size: 20px;
	}
	.filter{
		display: none;
	}
	.content__text{
		align-items: start;
	}
}
@media (max-width: 316px){
	.category {
		height: 80px;
	}
	.category__link {
		justify-content: center;
		row-gap: 15px;
	}
	.category__navegation-tems{
		width: 100%;
	}
}
@media (max-width: 290px){
	.menu, .menu__image{
		width: 100%;
	}
	.menu__content{
		width: 218px;
	}
}