*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Raleway'; }

html{ font-size: 62.5%; }


header{
	width: 100%;
	height: 72px;
	
}


.superheader{

	background-color: #313235; 
	max-width:1440px; 
	height: 40px;
	display: flex; 
	justify-content:space-between;
	align-items: center;
	margin: 0 auto;
}

.superheader p {  padding-block:12px; padding-inline-start: 32px; font-size: 1.4rem; color: #FFFFFF; }

.superheader div input {background-color: #313235; 
						background-image:url(searchicon.svg);
						background-repeat: no-repeat;
						background-position: left center;
						height:26px ;
						padding-inline-start: 25px;
						border: none; 
						border-block-end: 1px solid;
						border-color:#949A9C; 
						color: #949A9C;
						outline: none;
						font-size: 1.4rem;
						}
.superheader span{ font-weight: 500; font-size:1.4rem; margin-inline: 27px; color: #C9CECF;}




.header{
	display: flex; 
	padding-block: 22px ;
	padding-inline-start:32px;
	justify-content: space-between;
	align-items: center;
	max-width:1440px;
	height: 32px ;
	margin: 0 auto;
	border-block-end: 1px solid blue;


}

.hiddenicons{display: none;  

}


 .header h1 {font-size: 2.4rem; 
 				font-family: Raleway;
				font-style: normal;
				font-weight: 800;
				line-height: 28px;
				color: #313235;
				margin: 0;
}



.header nav{
	display: flex;
	justify-content: space-between;
	width: 701px;
	padding-block: 26px;
	margin-inline-end: 370px ;
}

@media(max-width:1350px) { .header nav {margin-inline-end:101px ;} }
@media (max-width:1000px) { .header nav {margin-inline-end:0;} }



.header a {
	text-decoration: none;
	font-weight: 600;
	font-size: 1.8rem;
	color: #313235;
	text-transform: uppercase;
}


.header nav a:first-of-type{
	color: #6868D9;
}

 .header nav a:last-of-type{
	margin-inline-end: 0;
}

 .header nav a:hover{
	border-block-end: 0.5px solid;
	border-color: blue;

}

.menudesplegable{

	display: none;

}

@media(max-width:800px){


}

/*================== ETIQUETAS MAIN CONTAINER  ===========================================*/


.main-content{

 width: 100%;
 height: 100%;


}

.main-content-container{

max-width: 1440px;
padding-inline: 22px ;
margin: 0 auto;

}


/*================== ETIQUETA SECTION CONTAINER   ===========================================*/
.section-enlace{

	display: flex; 
	width: 100%;
	justify-content: space-between;
	min-height: 40px;
	align-items: center;
	margin: 0 auto;
	margin-block-start: 36px;

}



.section-enlace select{
	width: 190px;
	height: 42px;
	padding-inline: auto ;
	background: #F2F3F3;
	border-radius: 8px;
	font-weight: 600;
	padding-inline-start: 12px;
	font-size: 1.6rem;
	line-height: 19px;
	outline: none;
	border: none;
	color: #313235;
}

@media (max-width:600px) { .section-enlace select{display: none}  .sort{display: none}}
@media (max-width:200px) { .section-enlace{display: flex; flex-wrap: wrap;}}
.section-content{

	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items:flex-start;
	margin: 0 auto;


}

@media(max-width:800px)
{
	.section-content{

	display: flex; 
	width: 100%;
	margin: 0 auto;
	flex-direction:column-reverse;
	flex-wrap: wrap;


		}

		.superheader{height: 4px;}

		.superheader p {display: none;}
		.superheader div{display: none;}


		.header nav{ display:none; }

		.hiddenicons{display:block;
			display: flex; 
			align-items: center; 
			width:138px; 
			height: 24px; 
			justify-content: space-between;
			margin-inline-end: 29px;
		}


		



}



.main-content nav a {

	width:248px;
	text-decoration: none;
   font-weight: 500;
   font-size: 1.4rem;
   color: #60666C;
}

.running {
   
   text-decoration: none;
   font-weight: 600;
   font-size: 2.4rem;
   color:#313235;
}

.sort {
   
   text-decoration: none;
   font-weight: 500;
   font-size:1.6rem;
   color:#313235;
}


a:hover{border-block-end: 1px solid;
	border-color: blue;}






/*================== ETIQUETA ASIDE   ===========================================*/


.sidebar{

	min-width: 248px;
	min-height: 416px;
	font-size: 1.6rem;
	margin-block-start: 30px;


}

.sidebar ul li{
	margin-block-start: 15px;
	list-style-type: none;
}

.sidebar ul li:first-of-type{
	margin-block-start: 0px;

}

.sidebar ul li:nth-child(4){
	color: red;
}

.sidebar ul li:hover{
	cursor: pointer;
	text-decoration: underline;
}


/*================== ETIQUETA seccion de imagenes ===========================================*/

.card{

     display: flex;
     flex-wrap: wrap;
     justify-content:center;
     margin-block-start: 32px;
     gap: 36px;
     max-width: 1098px;

}


    .card__shoes{

    
    
    height:100%;
    position: relative;
    }

    .card__shoes-price{display: flex; justify-content: space-between; padding-block: 2px; padding-inline: 1px;
    					font-size: 1.6rem;}


    .card__shoes-price-description{font-weight:600; color: #313235;}
    .card__shoes-price-color{font-weight:500 ; color: #60666C;}
    .font-weight-number-color-gray700{font-weight: 500; color: #60666C; text-decoration:line-through; }
    .color-gray700{color: color: #60666C; }


    descripcion font wei 600 
    

    
    .card__shoes__button{
    	border-radius: 2px;
    	font-size: 1.4rem; 
    	font-weight: 700;
    	color: white; 

    }


    .card__shoes__button-Blue{
    	width: 118px; 
    	height:32px; 
    	border-radius: 2px;
    	font-size: 1.4rem; 
    	font-weight: 700;
    	color: white;
    	background-color: #6868D9;  
    	padding: 10px;
    	position: absolute;
    	inset-block-start: 12px;
    	inset-inline-end: -4px;
    }


    .card__shoes__button-Red{ 
    	width: 49px; 
    	height:32px; 
    	background-color: #C5295D; 
    	border-radius: 2px; 
    	font-size: 14px; 
    	font-weight: 700; 
    	color: white; 
    	padding: 10px;
    	padding-inline: 10px;  
    	padding-block-start: 8px;
    	padding-block-end: 10px;
    	position: absolute;
    	inset-block-start: 12px;
    	inset-inline-end: -4px;
    }



.card img{ 
			border-radius: 16px 16px 4px 4px;}


.card img:hover{ border: 2px solid blue;}


