:root {
    --gray: #9d9995;
}

/*------------------------------ main -------------------------------------*/
main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
}

/*-------------------------------- categories --------------------------------*/
.art-categories {
    grid-column: 1 / 2;
    display: flex;
    flex-flow: column wrap;
    padding: 50px 65px;
    justify-content: space-between;
}

.art-categories-options {
    display: flex;
    flex-flow: column wrap;
    row-gap: 1rem;
}

.art-categories a {
    text-decoration: none;
    color: var(--gray);
}

.art-categories-options .perfil {
    margin-block-start: 2rem;
    width: 50px;
    height: 50px;
}
.art-categories-options .perfil img {
    border-radius: 50%;
    width: 100%;
}

.art-categories-description h2,
.art-categories-description p {
    margin: 0;
}

.art-categories-description h2 {
    margin-block-end: 2rem;
}

.art-categories-description p {
    color: var(--gray);
}

/*-------------------------------------------- galery --------------------------------------------*/
.art-galery {
    grid-column: 2 / 3;
    display: flex;
    flex-flow: row wrap;
    row-gap: 1rem;
    padding-block-end: 1rem;
}

.art-galery-major {
    flex-basis: 100%;
    max-height: 600px;
    overflow: hidden;
    border-radius: 1rem;
}

.art-galery-major img {
    width: 100%;
    /* object-fit: fill; */
    display: block;
}

.art-galery-collections {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    /* display: flex;
    align-items: center; */
    /* overflow-y: hidden; */
    /* overflow-x: auto; */
}

.img-container {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.focused {
    border: 2px solid #4d0976;
    opacity: 0.6;
}
/*------------------------------ aside -------------------------------*/
