@font-face {
  font-family: Chomsky;
  src: url("../assets/fonts/chomsky.otf") format("opentype");
}

:root {
  --white: #fff;
  --black: #000;
  --offblack: #100f0f;
  --primary: #475784;
  --secondary: #3e7f7f;
  --urgent: #ca4949;
  --gray-100: #f4f3f1;
  --gray-300: #d0cdc8;
  --gray-500: #9d9995;
  --gray-700: #6b6661;
  --gray-900: #2b2826;
}

html {
  font-size: 10px;
}

/*---------- Helper classes ----------*/

.chomsky-header,
.chomsky-header-mobile,
.chomsky-footer {
  font-family: chomsky;
}

.chomsky-header,
.chomsky-header-mobile {
  font-weight: 400;
  color: var(--offblack);
}

.chomsky-header {
  font-size: 6.4rem;
  line-height: 8.4rem;
}

.chomsky-header-mobile {
  font-size: 4.8rem;
  line-height: 6.2rem;
}

.chomsky-footer {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.2rem;
  color: var(--gray-100);
}

.crimson-date,
.crimson-headline,
.crimson-headline-p,
.crimson-article-title,
.crimson-article-p,
.crimson-article-by,
.crimson-section-title {
  font-family: "Crimson Pro", serif;
  color: var(--gray-900);
}

.crimson-date {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.crimson-headline {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
}

.crimson-headline-p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.crimson-article-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.crimson-article-p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.crimson-article-by {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--gray-700);
}

.crimson-section-title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.helvetica-section-link,
.helvetica-footer-nav,
.helvetica-footer-title,
.helvetica-footer-link,
.helvetica-footer-copy,
.helvetica-stock-name,
.helvetica-stock-exch,
.helvetica-stock-perf {
  font-family: Helvetica, sans-serif;
}

.helvetica-section-link {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--gray-900);
}

.helvetica-stock-name {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--gray-900);
}

.helvetica-stock-exch {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--gray-700);
}

.helvetica-stock-perf {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.helvetica-stock-success {
  color: var(--secondary);
}

.helvetica-stock-alert {
  color: var(--urgent);
}

.helvetica-footer-nav {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--gray-300);
}

.helvetica-footer-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: var(--gray-300);
}

.helvetica-footer-link {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: var(--white);
}

.helvetica-footer-copy {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--gray-500);
}

/*---------- Container ----------*/

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-100);
}

/*---------- Header ----------*/

.header__top--mobile,
.header__bottom--mobile {
  display: none;
}

.header__top {
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 120px;
  margin-block-start: 16px;
}

/* Menu left */

.menu__left {
  display: flex;
  column-gap: 24px;
}

.header__date {
  text-align: center;
  margin-block-start: -4px;
}

/* Menu right*/

.menu__right {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.subscribe__button {
  width: 142px;
  height: 40px;
  border: none;
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--white);
  background-color: var(--primary);
  margin-block-start: 28px;
}

.subscribe__link {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  line-height: 2.2rem;
  text-decoration-line: underline;
  color: var(--gray-900);
}

/*---------- Main grid section ----------*/

.frontpage {
  display: grid;
  margin-inline: 120px;
  grid-template-areas:
    "headline secondary opinion"
    "headline advert advert";
  grid-template-columns: 494px 404px 22%;
  grid-auto-columns: 584px 584px;
  column-gap: 16px;
}

/* Main article */

.headline {
  grid-area: headline;
  margin-block-start: 80px;
  padding-inline-end: 16px;
  border-right: 1px solid var(--gray-300);
}

.headline__img {
  width: 476px;
  height: 320px;
  object-fit: cover;
  border-radius: 4px;
}

.headline__title {
  width: 458px;
  margin-block-start: 16px;
}

.headline__p {
  height: 196px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block-start: 8px;
}

.italic {
  font-style: italic;
}

.off-p {
  margin-block-start: 16px;
}

.headline__link {
  font-weight: 700;
  font-style: italic;
  display: block;
  margin-block-start: 32px;
}

/* Secondary articles */

.secondary {
  grid-area: secondary;
  margin-block-start: 72px;
  padding-inline-end: 16px;
  border-right: 1px solid var(--gray-300);
}

.secondary__header {
  display: none;
}

.secondary__article {
  display: flex;
}

.secondary__img {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  object-fit: cover;
  margin-block-start: 8px;
  margin-inline-end: 16px;
}

.secondary__p {
  margin-block-start: 2px;
  margin-block-end: 4px;
  margin-inline-end: 8px;
}

.secondary__line {
  margin-block-start: 16px;
  margin-block-end: 8px;
  color: var(--gray-300);
}

/* Opinion section*/

.opinion {
  grid-area: opinion;
  margin-block-start: 92px;
}

.opinion__article {
  position: relative;
  margin-block-start: 12px;
}

.opinion__title {
  width: 214px;
  margin-block-start: 6px;
}

.opinion__img {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 2px;
  line-height: 2.2rem;
}

.opinion__line {
  margin-block-start: 16px;
}

/* Advertisement section*/

.advertisement {
  grid-area: advert;
  margin-block-start: 16px;
  padding-block-start: 16px;
  border-top: 1px solid var(--gray-300);
}

.advertisement__header {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.4rem;
  font-style: italic;
  text-align: center;
  color: var(--gray-700);
}

.advertisement__box {
  height: 120px;
  margin-block-start: 8px;
  background-color: var(--gray-300);
}

/* Market section*/

.market {
  width: 584px;
  grid-column: 1 / 2;
  margin-block-start: 64px;
  border-right: 1px solid var(--gray-300);
  padding-inline-end: 16px;
}

.market__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock__container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-block-start: 24px;
}

.market__stock {
  width: 182px;
  height: 72px;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

.stock__name {
  position: absolute;
  inset-block-start: 12px;
  inset-inline-start: 12px;
}

.stock__graph {
  position: absolute;
  inset-block-start: 12px;
  inset-inline-end: 12px;
}

.stock__exch {
  position: absolute;
  inset-block-end: 8px;
  inset-inline-start: 12px;
}

.stock__perf {
  position: absolute;
  inset-block-end: 8px;
  inset-inline-end: 12px;
}


/* Sports section */

.sports {
  width: 594px;
  grid-column: 2 / 4;
  position: relative;
  inset-inline-start: 90px;
  margin-block-start: 64px;
  margin-inline-start: 16px;
}

.sports__top {
  display: flex;
  justify-content: space-between;
}

.sports__container {
  display: flex;
  column-gap: 16px;
  overflow: hidden;
  margin-block-start: 24px;
}

.sports__article {
  margin-inline-start: 6px;
}

.sports__img {
  width: 220px;
  height: 132px;
  object-fit: cover;
  border-radius: 4px;
}

.sports__title {
  width: 220px;
  margin-block-start: 8px;
}

/*---------- Footer ----------*/

.footer {
  margin-block-start: 64px;
  padding-block-start: 24px;
  background-color: var(--gray-900);
}

.footer__top {
  height: 44px;
  margin-inline: 120px;
  display: flex;
  justify-content: flex-end;
  column-gap: 48px;
  border-bottom: 1px solid var(--gray-700);
}

.footer__links {
  display: flex;
  column-gap: 16px;
}

.footer__social {
  display: flex;
  column-gap: 16px;
}

.footer__main {
  margin-inline: 120px;
  margin-block-start: 32px;
  display: grid;
  grid-template-areas:
  "discover careers regional legal";
  justify-content: start;
  column-gap: 132px;
}

.nav__discover {
  grid-area: discover;
}

.nav__careers {
  grid-area: careers;
}

.nav__regional {
  grid-area: regional;
}

.nav__legal {
  grid-area: legal;
}

.nav__title {
  margin-block-end: 8px;
}

.footer__bottom {
  height: 88px;
  margin-block-start: 48px;
  background-color: var(--offblack);
}

.bottom__title,
.bottom__copy {
  margin-inline-start: 120px;
}

.bottom__copy {
  margin-block-end: 20px;
}
