*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #main{
    display: grid;
    grid-template-columns: 1fr 900px;
    margin: 40px;
    border-radius: 20px;
    box-shadow: -4px 6px 23px 6px rgba(0,0,0,0.1);
    background-color: white;
  
  }
  .main--left{
    grid-area: 1 / 1 / 2 / 2 ;
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin: 20px;
  }
  .main--left__text{
    grid-area: 1 / 1 / 2 / 2; 
    margin-block-end: 200px;
    
  }
  #text__header{
    color:black;
    margin-block-end: 20px;
  }
  .main--left__text p{
    color: hsla(0, 0%, 57%, 0.664);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 26px;
    
  }
  #text__menu{
    grid-area: 2 / 1 / 3 / 2; 
  }
  #links__menu{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    color:hsla(0, 0%, 86%, 0.349);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
  }
  #links__menu{
    display: flex;
    position:relative;
    justify-content: center;
    align-content: center;
  }
  #text__menu ul li a{
    text-decoration: none;
    color: hsla(0, 0%, 57%, 0.664);
  }
  #links__menu li a{
  }
  #links__menu li a:hover{
    color:purple;
  }
  #links__menu li a:hover::before{
    content:'';
    display:inline-block;
    /* width: 15px;
    height: 15px; */
    position:absolute;
    background-color: purple;
    width: 10px;
    height: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    inset-inline-start: -20px;

  }
  .text__img img{
    border-radius: 50%;
  }
  /* .gallery{
    grid-area: 1 / 2 / 2 / 3;
  } */
  .mainImg {
    width: 100%;
    border-top-right-radius: 2.5%;
  }
  .gallery__thumbs {
    display: flex;
    /* border: 2px solid #d3baa0; */
    width: 900px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: 2px;
  }
  .gallery__thumbs img {
    flex-grow: 1;
    width: 100px;
    height:100px;
    /* opacity: 0.5;
    transition: opacity 0.4s ease; */
    cursor: pointer;
    margin: 4px;
    border-radius: 10%;
  }

.gallery__thumbs::-webkit-scrollbar {
    height: 6px;
  }
  
.gallery__thumbs::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
.gallery__thumbs::-webkit-scrollbar-thumb {
    background: #a485b8;
    border-radius: 13px;

  }
  