.header__main {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 102px;
}

.header__icon {
  margin-inline-start: 72px;
}

.header__icon :nth-child(1) {
  margin-block-start: 20px;
}

.header__icon :nth-child(2) {
  margin-block-end: 16px;
}

.header__ulist {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 672px;
  height: 60px;
  margin-inline-end: 120px;
  padding-block-start: 16px;
  margin-block: 0px;
}

.header__ulist > li {
  align-self: center;
}

.header__ulist > li > a {
  text-decoration: none;

  color: #000000;
  text-align: end;
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: #4ba87d;
  border-left: #000000;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  line-height: 20px;
}

.header__ulist > button {
  border-style: none;
  width: 168px;
  height: 40px;
  background-color: #4ba87d;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  margin-block-start: 4px;
  cursor: pointer;
}

/*-----------------------------MAIN------------------------------------*/

.main__back {
  background: url(Img/floating_elements.png);
  background-size: cover;
  width: 1440px;
  height: 2042px;
}

.main__conteiner {
  display: flex;
  position: relative;
  width: 1066px;
  inset-block-start: 110px;
  inset-inline-start: 176px;
  justify-content: flex-end;
  align-items: center;
}

.main__text {
  background-color: transparent;
  width: 490px;
  height: 318px;
  position: absolute;
  inset-inline-start: 0px;
  inset-block-start: -20px;
}

.main__text > h1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  margin-block-end: 0px;
}
.main__text > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.6px;
}

.button__conteiner {
  width: 188px;
  height: 54px;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  margin-block-start: 12px;
  font-weight: 900;
}

.button__one {
  margin-inline-end: 44px;
  background-color: #4ba87d;
  border: 0px;
}

.button__two {
  border: 1px solid #4ba87d;
  background-color: #ffffff;
  color: #4ba87d;
}

.main__container__video {
  position: relative;
  background: url(Img/VIDEO.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 944px;
  height: 628px;
  margin: auto auto;
  inset-block-start: 400px;
  display: flex;
}

.main__container__video > h2 {
  position: absolute;
  color: #ffffff;
  inset-block-start: 110px;
  inset-inline-start: 154px;
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}
.main__container__video > button {
  position: absolute;
  inset-block-start: 340px;
  inset-inline-start: 400px;
  cursor: pointer;
  width: 200px;
  height: 65px;
  background-color: #ffffff;
  color: #4ba87d;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  align-items: center;
  font-family: "Raleway";
}
